@media screen and (max-width: 1160px) {
  .container {
  	max-width: 100%;
  	width: 98% !important;
  	margin: 0 1% ;
  }

  .banner .container {
  	flex-direction: column-reverse;
  	text-align: center;
  }

  .banner .container img {
  	position: inherit;
  	transform: translateY(8%);
  	width: 100%;
  }

  .banner .container .banner-img {
  	margin: 0 auto;
  	width: 60%;
  }
}

@media screen and (max-width: 900px) {
	.navbar-nav {
		max-width: 50% !important;
	}

	.about .container .item{
		flex-direction: column-reverse;
		text-align: center;
	}

	.about .container .item h2 {
		width: 100%;
		max-width: 100%;
	}

	.about .container:last-child {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: -10px 0;
	}

	.about .container:last-child .item {
		margin: 10px 0;
	}

	.about .container:last-child .item:last-child {
		margin-bottom: 160px;
	}


	.how-use .container .item {
		flex-direction: column-reverse;
		text-align: center;
	}

	.how-use .container .text {
		align-items: center;
	}

	.how-use .container .text p {
		max-width: 60%;
	}
}

@media screen and (max-width: 600px) {
	.navbar .container {
		flex-direction: column;
		align-items: center;
	}

	.navbar .container img {
		width: 20%;
		margin-top: 10px
	}

	.navbar .container .navbar-nav {
		margin-top: 15px;
		max-width: 70% !important;
	}

	.banner {
		padding-bottom: 120px !important;
	}

	.banner .banner-img {
		width: 80% !important;
	}

	.banner .container {
		padding-top: 20px !important;
	}

	.about .container .item {
		width: 100%;
	}

	.about img {
		width: 100%;
	}

	.about-in-numbers .container {
		flex-direction: column;
		align-items: center;
	}



}


@media screen and (max-width: 450px) {
	.header .navbar .navbar-nav {
		max-width: 90% !important; 
	}

	.header h1 {
		font-size: 60px;
	}

	.header .banner p {
		font-size: 30px;
	}

	.download .btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: -10px 0 !important;
	}

	.download .btn {
		margin: 10px 0 !important;
	}
}