/*
==========================

STYLE.CSS FILE NAVIGATION:
- 01: MAIN STYLES;
- 02: NAVBAR STYLES;
- 03: ;

==========================
*/





/*
==========================
01. MAIN STYLES
==========================
*/
body, html {
	margin: 0;
	padding: 0;
}

.reverse {
	flex-direction: row-reverse;
}

ul, li, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, li, a, p, button, span, div {
	font-weight: 400;	
	font-family: 'Gothic A1';
	color: #FFFFFF;
}


h2 {
	font-size: 38px;
	line-height: 48px;
}

h5 {
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #A8A8A8;
}

p {
	font-size: 16px;
	color: #6B6B6B;
}

a {
	font-size: 15px;
}


.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1150px;
	margin: 0 auto;
}

.btn {
	padding: 20px 40px;
	background: #FC0A7E;
	border-radius: 3px;
	font-size: 16px;
	line-height: 26px;
	transition: box-shadow .4s ease-out;
}

.btn:hover {
	box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.5);
}

/*
==========================
02. NAVBAR STYLES
==========================
*/
.navbar .navbar-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 33.21%;
	margin: 40px 0;
}

.navbar .navbar-nav a.nav-link {
	font-size: 15px;
	line-height: 20px;
	transition: color .2s ease-out;
}

.navbar .navbar-nav a.nav-link:hover {
	color: #F1F1F1;
}





/*
==========================
03. HEADER STYLES
==========================
*/
.header {
	position: relative;
	background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
	height: fit-content;
}

.header .banner .container {
	padding-top: 177.5px;
}

.header h1 {
	font-size: 80px;
	line-height: 80px;
}

.header p {
	font-size: 30px;
	line-height: 44px;
	color: #FFFFFF;
}

.header .banner-img img {
	position: absolute;
	width: 40vw;
	right: 0;
	top: 50%;
	transform: translate(0, -40%);
}

.header .banner {
	padding-bottom: 400px;
}

.header .banner .arrow {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
}




/*
==============================
04. DEMONSTRATION BLOCK STYLES
==============================
*/
.demonstration {
	background: #1B1B1B;
}

.demonstration .container {
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.demonstration h2 {
	max-width: 607px;
}

.demonstration img {
	width: 100%;
}



/*
==========================
05. ABOUT BLOCK STYLES
==========================
*/
.about .container:first-child {
	align-items: center;
	flex-direction: column;
}

.about .container:first-child .item {
	max-width: 1008px;
	margin: 160px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about .container:first-child .item:first-child {
	margin-top: 80px;
}

.about h2 {
	color: #000000;
	max-width: 302px;
}

.about .container:last-child {
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 160px;
	max-width: 1296px;
}

.about .container:last-child .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 35%;
}

.about .container:last-child h3, .about .container:last-child p {
	margin: 0;
	padding: 0;
}

.about .container:last-child .item h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	margin-top: 40px;
}

.about .container:last-child .item p {
	margin-top: 17px;
}




/*
=================================
06. ABOUT IN NUMBERS BLOCK STYLES
=================================
*/
.about-in-numbers .container {
	max-width: 1296px;
	justify-content: space-around;
	margin-bottom: 160px;
}

.about-in-numbers .item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	max-width: 324px;
}

.about-in-numbers .item h2 {
	font-size: 59px;
	line-height: 90px;
	color: #333333;
	margin: 0;
	padding: 0;
}

.about-in-numbers .item h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	padding: 0;
	margin: 0;
}




/*
=========================
07. HOW USE
=========================
*/
.how-use .container {
	flex-direction: column;
}

.how-use .container .item {
	display: flex;
	justify-content: space-around;
	margin-bottom: 160px;
}

.how-use .container .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.how-use .container h2 {
	margin: 23px 0;
	max-width: 258px;
	padding: 0;
	color: #000000;
}

.how-use .container p {
	max-width: 330px;
}



/*
=========================
08. QUOTES START
=========================
*/
.quotes .item {
	max-width: 720px;
	margin: 0 auto;
	text-align: center;
}

.quotes .item img {
	margin: 0 auto;
	max-width: 58px;
}

.quotes .item p {
	font-size: 24px;
	line-height: 40px;
	margin-top: 63px;
	margin-bottom: 17px;
	max-width: 700px;
}

.quotes .item h4 {
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: #6B6B6B;
}

.quotes .item h5 {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #6B6B6B;
	text-transform: initial;

}

.quotes .item .item-footer {
	display: flex;
	max-width: 300px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.quotes .item .item-footer .line {
	width: 100%;
	max-width: 30px;
	height: 1px;
	background: #D3D3D3;
}



/*
=========================
09. PARTNERS
=========================
*/
.partners .container {
	margin-top: 121px;
	margin-bottom: 118px;
	justify-content: center;
}

.partners img {
	width: 90%;
}



/*
=========================
10. ADVANCED BLOCK
=========================
*/
.advanced-block img {
	width: 100%;
}



/*
=========================
11. DOWNLOAD
=========================
*/
.download {
	margin-top: -50px;
	height: 473px;
	background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}

.download .container{
	max-width: 100%;
	width: 100%;
	height: 100%;
	text-align: center;
	background: url('../img/download/background.png') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.download h2 {
	margin-bottom: 40px;
}

.download .btns .btn:last-child {
	border: 1px solid #B04BB3;
	background: none;
	margin-left: 10px;
}


/*
=========================
12. GET UPDATES STYLES
=========================
*/
.get-updates {
	background: #1B1B1B;
	height: 463px;
}

.get-updates .container {
	flex-direction: column;
	align-items: center;
}

.get-updates h5 {
	font-size: 16px;
	line-height: 30px;
	color: #6B6B6B;
	text-transform: initial;
	margin-top: 0;
	margin-bottom: 40px;
}

.get-updates h2 {
	margin-top: 130px;
	margin-bottom: 10px;
}

.get-updates form {
	max-width: 464px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
}

.get-updates button {
	border: none;
	padding: 0;
	cursor: pointer;
	color: #000000;
	line-height: 26px;
	font-size: 16px;
	padding: 22px 0px;
	background: #FC0A7E;
	max-width: 154px;
	width: 100%;
	border-radius: 0px 3px 3px 0px;
	outline: none;

}

.get-updates input::placeholder, .get-updates input {
	font-family: 'Gothic A1';
	line-height: 26px;
	font-size: 16px;
	opacity: 1;
	transition: opacity .3s ease-out;
}


input:focus::-webkit-input-placeholder { opacity: 0; transition: opacity .3s ease-out}
input:focus:-moz-placeholder { opacity: 0; transition: opacity .3s ease-out} /* FF 4-18 */
input:focus::-moz-placeholder { opacity: 0; transition: opacity .3s ease-out} /* FF 19+ */
input:focus:-ms-input-placeholder { opacity: 0; transition: opacity .3s ease-out} /* IE 10+ */

.get-updates input {
	border-radius: 3px 0px 0px 3px;
	color: #1C1C1C;
	width: 100%;
	padding-left: 3px;
	max-width: 309px;
	outline: none;
	border: none;
}




/*
=========================
13. FOOTER STYLES
=========================
*/
.footer {
	background: #1B1B1B;
}

.footer .container {
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footer .container .footer-nav {
	display: flex;
	justify-content: space-around;
	max-width: 575px;
	width: 100%;
}

.footer .footer-nav a.nav-link {
	font-size: 12px;
	line-height: 20px;
	transition: color .2s ease-out;
	color: #6B6B6B;
	margin: 29px 0;
}

.footer .footer-nav a.nav-link:hover {
	color: #F1F1F1;
}
